spring:
  application:
    name: resilience-demo

management:
  endpoints:
    web:
      exposure:
        include: health,metrics

resilience4j:
  circuitbreaker:
    instances:
      paymentService:
        failure-rate-threshold: 50
        minimum-number-of-calls: 5
        wait-duration-in-open-state: 10s
        sliding-window-size: 10

  retry:
    instances:
      paymentService:
        max-attempts: 3
        wait-duration: 1s			
server:
  port: 8081
