spring:
  datasource:
    url: jdbc:h2:mem:testdb
    driver-class-name: org.h2.Driver
    username: sa
    password: ""

  jpa:
    hibernate:
      ddl-auto: create
    show-sql: true

  batch:
    job:
      enabled: false   # VERY IMPORTANT (production rule)

logging:
  level:
    org.springframework.batch: INFO

server:
  port: 8081