server:
  port: 8081

spring:
  application:
    name: service-a
  config:
    import: optional:configserver:http://localhost:8888

management:
  endpoints:
    web:
      exposure:
        include: refresh,busrefresh
